apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.10.6/manifests/install.yaml
  - gateway.yaml
patches:
  - insecure-patch.yaml
  - resync-patch.yaml
  - svc-grpc.yaml
