apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs-blog
spec:
  selector:
    matchLabels:
      app: nextjs-blog
  template:
    metadata:
      labels:
        app: nextjs-blog
    spec:
      containers:
        - name: nextjs-blog
          image: ghcr.io/thr3a/nextjs-blog:14
          resources: {}
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: my-secret
